body{
    background-color: rgb(218, 248, 157);
}
thead,tbody,tfoot{
    background-color: " rgb(218, 248, 157)";
}
caption{
    padding:5px;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(40, 40, 185);
    box-shadow: rgb(26, 26, 126);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
  }
  
  td,
  th {
    border: 1px solid rgb(102, 197, 102);
    padding: 20px 30px;
  }
  
  td {
    text-align: center;
  }
  thead{
    color:red;
  }