body{
    background-color: #DEFF9C;
    
    }
    a{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
        margin: 20px;
        padding: 10px;
    }
 
        a:link
        {
            color:#ff0000;
            box-shadow: 5px 5px 5px #888888;
            background-color: lightgreen;
        }
        a:hover{
            border-bottom: 1px solid blue;
            background-color: lightblue;
        }
        a:hover {
            color: darkgreen;
        }
        a:active{
            background-color: #ffeeaa;
             color: #00ff33
        }
    
