
*{ 
    background-color: rgb(200, 248, 200);
}
.a{
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 125px;
    background-color: linear-gradient(  rgb(200, 248, 200), #65AD31);
    font: Arial;
    box-shadow: 10px 10px 2px 2px black;
}
.b{
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 125px;
    background-color: linear-gradient( rgb(200, 248, 200)), #65AD31);
    font: "Courier New";
    box-shadow: 10px 10px 2px 2px black;
}

.c{
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 125px;
    background-color: linear-gradient( rgb(200, 248, 200), #65AD31);
    font: "Times New Roman";
    box-shadow: 10px 10px 2px 2px black;
}
